body
{
background: #1abc9c;
font-family: Tahoma, Arial, sans-serif; 
color: #ffffff;	
}
.header img {
	display: block; 
	width: 318px; 
	margin-left: auto; 
	margin-right: auto;
}
.archive {
	width: 960px; 
	margin-left: auto;
	margin-right: auto;
}
h2.post-title  {
color: #ffffff;
}

.article-author { 
	width: 50%; 
	float: left;
	font-weight: bold;
}
.article-created-date { 
	text-align: right;
}

a.all-posts {
	color: #ffffff;	
}
.text-post {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}